/* Root */
:root {
  --left-background: #00abd5;
  --left-words-title: #f4ecd6;
  --left-sub-title: #393e46;
  --input-background: #c4c4c4;
}

/* Fuente */
@font-face {
  font-family: "Roboto";
  src: url("../assets/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Righteous";
  src: url("../assets/Righteous/Righteous-Regular.ttf");
}

/* Estilos generales para todas las pantallas */
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Roboto";
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left-side {
  height: 100vh;
  width: 50%;
  background-color: var(--left-background);
  color: var(--left-words-title);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.right-side {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top-text {
  height: 28vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

svg {
  margin-left: 10px;
}

.top-text p {
  margin-left: 20px;
  color: var(--left-sub-title);
  font-weight: 400;
  font-size: 36px;
  line-height: 42.19px;
}

.anchor-decoration {
  width: 530px;
  height: 80px;
  border-radius: 69px;
  background: var(--input-background);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.middle-text {
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.middle-text p {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 36px;
  line-height: 44.7px;
}

.botton-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.botton-text p {
  color: var(--left-sub-title);
  font-weight: 400;
  font-size: 30px;
  line-height: 35.16px;
  overflow-y: hidden;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

input {
  background: var(--input-background);
  width: 500px;
  height: 80px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-left: 25px;
  border-radius: 69px;
  border: 0;
  outline: none;
  font-size: 40px;
}

.label-format {
  width: 80%;
  margin-bottom: 5px;
  margin-left: 45px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 400;
  font-size: 36px;
  line-height: 42.19px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.check-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#checkbox {
  height: 30px;
  width: 5px;
  margin-left: 40px;
  margin-right: 10px;
  appearance: none;
  border-radius: 0;
  transition: background-color 0.3s ease-in-out;
}

#checkbox:checked {
  background-color: rgb(236, 72, 153);
}

#checkbox:focus {
  border-color: rgb(80, 67, 250);
}

#terms-text {
  width: 70%;
  height: 6vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#rgtr {
  width: 530px;
  height: 80px;
  border-radius: 69px;
  margin-bottom: 20px;
  background: var(--input-background);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#redirect {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.16px;
  color: var(--left-background);
}

/* Media Queries */
@media (max-width: 700px) {
  main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .left-side {
    width: 100%;
  }
  .left-side img {
    width: 400px;
    height: 200px;
  }
  .right-side {
    width: 100%;
    height: 110vh;
  }
  .anchor-decoration {
    width: 430px;
    overflow-y: hidden;
  }
  input {
    width: 405px;
  }
  #rgtr {
    width: 430px;
  }
}
